
  .cardContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .cardContainer img {
  
    max-height: 300px;
    align-content: center;
    border-radius: 5px;
    margin: 1rem;
    image-rendering: -webkit-optimize-contrast;
  
  }
  
  .textContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5rem;
  }
  
  .textContainer p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  }
  
  .ratingContainer span {
  font-size: 1.5rem;
  margin-right: 5px;
  }
  
  .starContainer {
  display: inline-flex;
  }
  
  .star {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "star";
  color: black;
  }
  
  .fullStar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "star";
  color: #fa9703;
  }
  
  .star:before {
  content: "★";
  }
  
  .fullStar:before {
  content: "★";
  }
  
  .AddToCartButton:hover {
  background-color: #117253;
  }